* {
    box-sizing: border-box;
    
  }
  
  body {
    margin: 0 auto;   
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
    max-width: 1200px;
   
  }
  
  /* Cabeçalho/Título do Blog */
  .cabecalho {
    padding: 30px;
    text-align: center;
    background-image: url(90440.jpg);
    background-size:auto;
    background-repeat: no-repeat;
    color: azure;
  }
  
  .cabecalho h1 {
    font-size: 50px;
    color: azure;
  }
  
  /* Estilo da Barra de Navegação */
  .toponav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Estilos dos links da barra de navegação */
  .toponav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Mudança de cor quando o mouse está sobre a barra */
  .toponav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Coluna da esquerda */
  .esquerdacoluna {   
    float: left;
    width: 70%;
  }
  
  /* Coluna da Direita */
  .direitacoluna {
    float: left;
    width: 30%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
 .img {
  width: 100%;
 }
  
  /* Add a card effect for articles */
  .cartao {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .linha::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .rodape {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .esquerdacoluna, .direitacoluna {   
      width: 100%;
      padding: 0;
    }
    img {
      width:720px;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .toponav a {
      float: none;
      width: 100%;
    }
    .img  {
      width: 5%;
      
    }
  }